
<!-- include header -->
<%-include('_header') %>
<!--/include header  -->
<!--/include header  -->
<body>
  <header>
    <h1>Issue Tracker</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Create Project</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    <h2>Create Issue</h2>
    <form action="/api/issues" method="post" id="form">
      <div>
     
        <label for="title">Title:</label>
        <input type="text"  class="inputs" id="title" name="title" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea  class="inputs" id="description" name="description" required></textarea>
      </div>
      
      <div>
        <label for="priority">Issue Type:</label>
        <inpu id="issuetype"  class="inputs" name="IssueType" required>
            <input  type="checkbox" value="enhancement">Enhancement</>     </input>
            <input  type="checkbox" value="feature">Feature</></input>
            <input  type="checkbox" value="design">Design</></input>
            <input  type="checkbox" value="documentation">Documentation</></input>
            <input  type="checkbox" value="bug">Bug</></input>
        
      </div>
      <div>
        <label for="labels">Author:</label>
        <input type="text"  class="inputs" id="author" name="author">
      </div>
      <div>
        <button type="submit">Create Issue</button>
      </div>
    </form>
  </main>
 <!-- include footer -->
<%-include('_footer') %>
<!--/include footer  -->



