
<% for(let i=0; i<issueData.length; i++){ %>
<li>
  <div class="issue-info">
    <div class="issue-title"><%-issueData[i].title  %></div>
    <div class="issue-meta">
      <span class="issue-label label-feature">Feature</span>
      <span class="issue-author"> <%-issueData[i].author  %> </span>
      <span class="issue-date">1 week ago</span>
    </div>
    <div class="issue-description">
     <%-issueData[i].description  %> 
    </div>
  </div>
</li>
<% } %> 